@import "../../../../../assets/styles/variables/colors.global";
@import "../../../../../assets/styles/variables/fonts.global";

.Container {
    width: 100%;
    height: 100%;
    padding-top: 20px;

    display: flex;
    overflow-x: auto;

    .CenterPanel {
        flex: 1;
        padding-right: 20px;
        margin-right: 20px;
        border-right: 1px solid lighten($dark_grey_color, 30);

        .SubscriptionInfoBox {
            display: flex;
            margin-bottom: 30px;
        }
    }
    .RightPanel {
        width: 300px;
        min-width: 300px;
    }

    .CurrentPlanBox,
    .NextBillingBox {
        width: 300px;
        height: 180px;
        border: 1px solid $light_grey_color;
        margin-right: 20px;
        margin-bottom: 10px;
        margin-top: 10px;
        border-radius: 10px;
        padding: 15px;
        position: relative;

        .Icon {
            position: absolute;
            top: 15px;
            right: 15px;
            font-size: 20px;
            background-color: rgba($white_color, 0.3);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }

        .Heading {
            font-size: 13px;
        }
        .Price {
            font-family: $default_font_bold;
            font-size: 25px;
            display: flex;
            align-items: center;
            padding: 10px 0;

            .SeatsCount {
                font-size: 13px;
                margin-left: 10px;
            }

            .PerUser {
                font-size: 14px;
                margin-left: 10px;
            }
        }
        .Name {
            margin-bottom: 10px;
            font-size: 16px;
        }
        .ActionsWrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
    .BillingAddressContainer,
    .PaymentMethodsContainer,
    .StorageContainer,
    .SeatsContainer {
        margin-bottom: 25px;
        border: 1px solid rgba($light_grey_color, 0.7);
        border-radius: 10px;
        padding: 5px 15px 15px 15px;

        .Header {
            font-size: 16px;
            font-family: $default_font_semibold;
            margin-bottom: 7px;
        }

        .Description {
            color: $dark_grey_color;
            font-size: 12px;
        }
    }

    .PaymentMethodsContainer {
        border: 1px solid rgba($light_grey_color, 0.3);
        background-color: rgba($light_grey_color, 0.2);
        .PaymentMethod {
            padding: 5px 10px;
            background-color: darken($dark_grey_color, 15);
            color: $white_color;
            margin: 5px 0;
        }
    }
    .SeatsContainer,
    .StorageContainer {
        border: 1px solid rgba($light_grey_color, 0.3);
        background-color: rgba($light_grey_color, 0.2);

        .ChartContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
    }
}

.CurrentPlanBox {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1001%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(55%2c 96%2c 196%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c419.757C81.689%2c422.519%2c164.949%2c407.849%2c233.533%2c363.385C301.975%2c319.013%2c356.456%2c251.615%2c379.871%2c173.481C401.944%2c99.824%2c382.054%2c21.534%2c357.851%2c-51.451C336.718%2c-115.177%2c291.509%2c-163.89%2c250.392%2c-216.966C206.673%2c-273.4%2c176.675%2c-348.655%2c109.31%2c-372.277C41.379%2c-396.098%2c-28.747%2c-351.543%2c-99.76%2c-339.75C-182.623%2c-325.989%2c-290.069%2c-362.431%2c-342.951%2c-297.169C-396.278%2c-231.358%2c-346.014%2c-132.401%2c-335.924%2c-48.299C-328.356%2c14.785%2c-308.667%2c71.922%2c-291.338%2c133.049C-270.432%2c206.796%2c-278.234%2c294.162%2c-223.6%2c347.928C-166.649%2c403.974%2c-79.857%2c417.057%2c0%2c419.757' fill='%232c4d9d'%3e%3c/path%3e%3cpath d='M1440 968.918C1542.479 992.803 1648.976 1078.758 1742.917 1031.349 1834.931 984.912 1841.766 854.586 1865.357 754.254 1885.28 669.523 1880.737 584.568 1868.22 498.431 1855.721 412.416 1853.2350000000001 316.757 1792.716 254.37 1732.8980000000001 192.70600000000002 1638.483 185.61 1553.378 173.87099999999998 1478.409 163.52999999999997 1406.416 179.48000000000002 1331.583 190.764 1244.046 203.964 1147.495 191.80399999999997 1077.239 245.666 1002.325 303.099 950.931 394.48900000000003 943.146 488.563 935.5070000000001 580.878 985.49 666.844 1035.9569999999999 744.52 1081.1019999999999 814.006 1143.564 868.308 1216.006 908.5409999999999 1285.007 946.863 1363.132 951.002 1440 968.918' fill='%235c7ed1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1001'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    color: whitesmoke;
}

.NextBillingBox {
    width: 330px;
    position: relative;
    background-color: rgba($light_grey_color, 0.2);
    .Icon {
        background-color: rgba($dark_color, 0.2) !important;
        width: 40px !important;
        height: 40px !important;
    }
    .BottomView {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px 20px;
        background-color: lighten($primary_color, 35);
        // color: $white_color;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.BillingAddressContainer {
    .Image {
        padding: 0 20px;
        margin: 10px 0;
        svg {
            width: 100%;
            height: 100px;
        }
    }
    .AddressInfo {
        .Item {
            font-size: 15px;
            &.Bold {
                font-family: $default_font_semibold;
            }
        }
    }
}

@mixin SeatsInfo($color) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .Count {
        width: 60px;
        height: 60px;
        border: 3px solid $color;
        color: $color;
        border-radius: 50%;
        margin-bottom: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 3px 2px rgba($color, 0.5);
        font-family: $default_font_bold;
    }

    .Text {
        font-family: $default_font_semibold;
        color: darken($color, 5);
    }
}

.SubscriptionManagementViewContainer {
    width: 100%;
    height: 100%;
    padding-bottom: 50px;

    .CloseBtn {
        position: absolute;
        top: 10px;
        right: 10px;
    }

    .Heading {
        font-weight: $default_font_bold;
        font-size: 20px;
        margin-bottom: 30px;
    }

    .GeneralInfo {
        width: 100%;
        padding: 20px;
        background-color: rgba($light_grey_color, 0.2);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba($light_grey_color, 0.4);

        .SubscriptionInfo {
            .Title {
                font-size: 13px;
            }
            .PlanName {
                font-size: 18px;
                font-family: $default_font_bold;
            }
        }

        .SeatsInfo {
            @include SeatsInfo($primary_color);

            &.Total {
                @include SeatsInfo($success_color);
            }
            &.Available {
                @include SeatsInfo($success_color);
            }
            &.Used {
                @include SeatsInfo(#e65100);
            }
        }
    }

    .SeatsInputWrapper {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid rgba($light_grey_color, 0.4);
        margin-top: 20px;
        background-color: rgba($light_grey_color, 0.2);

        .SeatsInput {
            display: flex;
            align-items: center;
            justify-content: center;

            .Input {
                font-size: 18px;
                text-align: center;
                font-family: $default_font_bold;
                width: 150px;
            }
        }
    }

    .BottomActions {
        position: absolute;
        bottom: 20px;
        right: 30px;
    }
}

.BillingHistoryTabs {
    .BillingHistoryTable {
        .Amount {
            font-size: 18px;
            font-family: $default_font_bold;
        }
    }
}
