@import "../../../../../assets/styles/variables/colors.global";
@import "../../../../../assets/styles/variables/fonts.global";

.Container {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.AppContainer {
    margin: 20px;
    display: flex;
    padding: 8px;
    cursor: pointer;
    border: 1px solid transparent;
    &:hover {
        background-color: $white_color;
        border-radius: 5px;
        box-shadow: 1px 2px rgba($dark_grey_color, 0.5);
        border: 1px solid rgba($dark_grey_color, 0.2);
    }

    &:active {
        background-color: $white_color;
        border-radius: 5px;
        box-shadow: inset 1px 1px rgba($dark_grey_color, 0.5);
        border: 1px solid rgba($dark_grey_color, 0.2);
    }

    .AppIcon {
        width: 60px;
        img {
            width: 60px;
        }
        svg {
            width: 60px;
        }
    }
    .InfoContainer {
        margin-left: 10px;
        .AppName {
            font-family: $default_font_bold;
            font-size: 16px;
        }

        .AppDesc {
            font-size: 14px;
            color: lighten($dark_grey_color, 5);
        }
    }
}
